<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div class="loc">
        <div class="baner">
            <h1>Forum</h1>
        </div>
        <br>
        <div>
            <p>With Forum, share and Find Out About All Around You.</p>
        </div>
    </div>
    <div class="box">
        <div class="form-container">
            <h2>login to your account</h2>
            <form method="POST">
                <input type="text" name="username" placeholder="Username..." required>
                <input type="password" name="password" placeholder="Password..." required>
                <br>
                <button class="password"><a style="color: aliceblue; text-decoration: solid;" href="/forget_password">Forget Password</a></button>
                <button class="register"><a style="color: aliceblue; text-decoration: solid;" href="/register">Sign up</a></button>
                <br><br><br>
                <button class="post"><a style="color: aliceblue; text-decoration: solid;" href="/post">Entry as a visitor</a></button>
                <br><br><br><br>
                <center>
                    <button class="login" type="submit">Sign in</button>
                </center>
            </form>
        </div>
    </div>
</body>

</html>